{{!-- <h1>Cats!</h1>

<h2>Cats that are not sleepy!</h2>

<ul>
  {{#each cats}}
    {{#unless sleepy}}
      {{> cats/cat-block sleep=true}}
    {{/unless}}
  {{/each}}
</ul>

<h2>Cats that are sleepy!</h2>

<ul>
  {{#each cats}}
    {{#if sleepy}}
      {{> cats/cat-block sleep=false}}
    {{/if}}
  {{/each}}
</ul> --}}

<h2>Add a birthday</h2>
{{!-- <form class="create-form">
  <div class="form-group">
    <label for="exampleFormControlInput1">Day</label>
    <input type="text" class="form-control" id="day" placeholder="1">
  </div>
  <div class="form-group">
    <label for="exampleFormControlSelect1">Month</label>
    <select class="form-control" id="month">
      <option>January</option>
      <option>February</option>
      <option>March</option>
      <option>April</option>
      <option>May</option>
      <option>June</option>
      <option>July</option>
      <option>August</option>
      <option>September</option>
      <option>October</option>
      <option>November</option>
      <option>December</option>
    </select>
  </div>
   <div class="form-group">
    <label for="exampleFormControlInput1">Year</label>
    <input type="text" class="form-control" id="year" placeholder="1995">
  </div> --}}

  {{!-- <button type="submit">Add Cat</button> --}}
{{!-- </form> --}}
