
<div class="bootstrap-iso">
    <div class="jumbotron">
        <h1 class="display-4">Birthday Tracker</h1>
        <p class="lead">View birthdays by month.</p>
        <hr class="my-4">
    </div>

 <div class="container-fluid">
  <div class="row">
   <div class="col-md-6 col-sm-6 col-xs-12">

    <!-- Form code begins -->
    {{!-- *******changed this added action --}}
    <form action="/api/birthday" method="post" class="info">
      <div class="form-group"> <!-- Date input -->
        <label class="control-label" for="date">First Name</label>
        <input class="form-control" id="fname" name="date" type="text"/>
      </div>
      <div class="form-group"> <!-- Date input -->
        <label class="control-label" for="date">Last Name</label>
        <input class="form-control" id="lname" name="date" type="text"/>
      </div>
      <div class="form-group"> <!-- Date input -->
        <label class="control-label" for="date">Date of Birth</label>
        <input class="form-control" id="date" name="date" placeholder="YYYY-MM-DD" type="text"/>
      </div>
      <div class="form-group"> <!-- Date input -->
        <label class="control-label" for="date">Last Year's Gift</label>
        <input class="form-control" id="gift" name="date" type="text"/>
      </div>
      <div class="form-group"> <!-- Submit button -->
        <button class="btn btn-primary " name="submit" id="formSubmit" type="submit">Submit</button>
      </div>
     </form>
     <!-- Form code ends --> 

    </div>
  </div>    
 </div>
</div>
