<!DOCTYPE html>
<html lang="en">

<head>
  <title>Birthday Calendar</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/css/bootstrap.min.css" integrity="sha384-VCmXjywReHh4PwowAiWNagnWcLhlEJLA5buUprzK8rxFgeH0kww/aWY76TfkUoSX" crossorigin="anonymous">
  <link href="stylesheets/style.css" rel="stylesheet">
</head>

<body>
  <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/logout">
        Logout
      </a>
      <a class="navbar-brand" href="/birthday-input">
        Birthday Input
      </a>

    </div>
  </div>
</nav>
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <h2>Welcome <span class="member-name"></span></h2>
      </div>
    </div>
  </div>

  {{#each animals}}
<li>{{this.animalType}}</li>
{{log this.animalType}}
  {{/each}}

  <div class="jumbotron">
    <h1 class="display-4">Birthday Tracker</h1>
    <p class="lead">View birthdays by month.</p>
    <hr class="my-4">

    <!-- Tab links -->
    <div class="tab" >
      <button class="tablinks nav-link" value="1">January</button>
      <button class="tablinks nav-link" value="2">February</button>
      <button class="tablinks nav-link" value="3">March</button>
      <button class="tablinks nav-link" value="4">April</button>
      <button class="tablinks nav-link" value="5">May</button>
      <button class="tablinks nav-link" value="6">June</button>
      <button class="tablinks nav-link" value="7">July</button>
      <button class="tablinks nav-link" value="8">August</button>
      <button class="tablinks nav-link" value="9">September</button>
      <button class="tablinks nav-link" value="10">October</button>
      <button class="tablinks nav-link" value="11">November</button>
      <button class="tablinks nav-link" value="12">December</button>
    </div>
  </div>

<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
        <div class="card border-info mb-3 hide">
            <div class="card-header" id="monthTitle"></div>
            <div class="card-body text-info">
              
            </div>
          </div>
    </div>
    <div class="col-sm-2"></div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="/js/members.js"></script>

</body>

</html>